@tailwind base;
@tailwind components;
@tailwind utilities;
.lms-label{
    @apply peer-focus:font-medium text-lg  w-full block text-gray-600 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6
}

.lms-input{
    @apply block py-2.5 px-0 px-4 w-full  text-gray-900 bg-transparent border-0 border-2 rounded border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600
}
.lms-btn{
    @apply text-white mt-3 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg  px-5 py-2.5 text-center inline-block
}
.disabled{
    @apply hidden;
}
.radius-full{
    border-radius: 100%;
}
